<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <StreamStatusNeon.MySettings>
        <quicknotes>Nothing Here</quicknotes>
        <WpDisplay>False</WpDisplay>
        <GilDisplay>True</GilDisplay>
        <ModList>True</ModList>
      </StreamStatusNeon.MySettings>
    </Roaming>
  </userSettings>
</configuration>